html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Rye', cursive !important;
}

video {
    background: #222;
    width:100%;
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}

.form-container {
    padding-bottom: 50px;
    /*
    -moz-box-shadow:  0 2px 5px 0 #333;
    -webkit-box-shadow: 0 2px 5px 0 #333;
    box-shadow: 0 2px 5px 0 #333;
    */

    position: relative;
    overflow: hidden;
    background-color:rgba(255,255,255,0.6);
    width:600px;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    border-radius:10px;
}
.form-container.game-init {
    background-color:rgba(255,0,0,0.6);
}

.form-container .text-center {
    position: relative;
    margin-top: 8%;
    display: inline-block;
}

.score{
    width: 49%;
    height: 200px;
    float:left;
}
.title{
    font-size: 56px !important;
}
.timer{
    font-size: 28px;
    min-height: 40px;
}
.playerScore{
    font-size: 100px;
}

@-webkit-keyframes rotating {
    0%   { -webkit-transform: rotate(0deg); }
    35% { -webkit-transform: rotate(30deg); }
    75% { -webkit-transform: rotate(60deg); }
    100% { -webkit-transform: rotate(60deg); }
}

.rotating {
    /* -webkit-animation: rotating 1.5s ease-in infinite;*/
    -webkit-animation: rotating 1.5s linear infinite;

}
.cylinder {
    fill: transparent;
    width: 200px;
    border: 6px solid #666;
    border-radius: 100%;
}



.debug {
    display: none !important;
}
.debug-mode .debug {
    display: inline-block;
}






/* tumbleweed */
.desert {
    position: relative;
    height: 12rem;
    overflow: hidden;
}

.desert .tumbleweed {
    position: absolute;
    top: 0;
    left: -12rem;
    background: url("/images/tumbleweed.png") no-repeat center;
    background-size: cover;
    width: 12rem;
    height: 12rem;
    animation: jumping 1.5s infinite, rolling 5s linear infinite, rotatingt 2s linear infinite;
}

.desertbottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.tumbleweed:nth-child(2) {
    animation-delay: 2.5s;
}
.tumbleweed:nth-child(3) {
    animation-delay: 4s;
}
.tumbleweed:nth-child(4) {
    animation-delay: 5s;
}
.tumbleweed:nth-child(5) {
    animation-delay: 6s;
}


@keyframes jumping {
    0% {
        top: 0rem;
        animation-timing-function: ease-in;
    }
    25% {
        top: 3rem;
        animation-timing-function: ease-out;
    }
    50% {
        top: 1rem;
        animation-timing-function: ease-in;
    }
    75% {
        top: 3rem;
        animation-timing-function: ease-out;
    }
    100% {
        top: 0rem;
        animation-timing-function: ease-in;
    }
}

@keyframes rolling {
    0% {
        left: -12rem;
    }
    100% {
        left: 100%;
    }
}

@keyframes rotatingt {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
